

footer {
    background-color: #151414;
    
        position: absolute;
        bottom: 1;
        width: 100%;
    
}

footer h1 {
    color: white;
    padding-top: 0.5em;
}

footer p {
    color: white;
}

.carousel {
    padding: 1em;
}

.imgs {
    padding-bottom: 1em;
}

.fab{
    color: white;
}